doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title LED controller
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    script(src='static/scripts.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

    style.
      #red, #green, #blue {
        float: left;
        clear: left;
        width: 300px;
        margin: 15px;
      }

      #swatch {
        width: 120px;
        height: 100px;
        margin-top: 18px;
        margin-left: 350px;
        background-image: none;
      }

      #red .ui-slider-range { background: #ef2929; }
      #red .ui-slider-handle { border-color: #ef2929; }
      #green .ui-slider-range { background: #8ae234; }
      #green .ui-slider-handle { border-color: #8ae234; }
      #blue .ui-slider-range { background: #729fcf; }
      #blue .ui-slider-handle { border-color: #729fcf; }

  body.ui-widget-content(style='border:0;')
    p.ui-state-default.ui-corner-all.ui-helper-clearfix(style='padding:4px;')
      span.ui-icon.ui-icon-pencil(style='float:left; margin:-2px 5px 0 0;')
      |   Simple Colorpicker
    #red
    #green
    #blue
    #swatch.ui-widget-content.ui-corner-all

    label(for='slowBlink') Slow blink
    input#slow_blink.toggle(type='checkbox', name='slowBlink')
